:root {
  --bg-color: #16171d;
  --text-color: #fff;
  --text-muted-color: #98989f;
  --link-color: #b39aff;
  --hover-link-color: #b39affe8;
  --border-color: #3b3440;
  --divider-color: #2e2e32;
  --error-color: #d73a49;
}
