:root {
  --bg-color: #16171d;
  --surface-color: #1f1b29;
  --text-color: #fff;
  --text-muted-color: #98989f;
  --link-color: #b39aff;
  --hover-link-color: #b39affd0;
  --border-color: #3b3440;
  --divider-color: #2e2e32;
  --error-color: #d73a49;
  --price-color: #67e867;
  --code-color: #02dd4f;
}
