h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: var(--font-size-3xl);
  margin-bottom: var(--space-6);
}

h2 {
  font-size: var(--font-size-2xl);
  margin-bottom: var(--space-5);
}

h3 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-4);
}

h4 {
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-3);
}

h5,
h6 {
  font-size: var(--font-size-md);
  margin-bottom: var(--space-2);
}

p {
  margin-top: 0;
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  margin-bottom: var(--space-4);

  &:last-child {
    margin-bottom: 0;
  }
}
