.btn {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--text-color);
  background-color: transparent;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }

  &.default {
    border: 1px solid var(--border-color);

    &:hover {
      color: var(--bg-color);
      background-color: var(--text-color);
    }
  }

  &.special {
    position: relative;
    border: none;
    overflow: visible;
    outline-style: none;

    &::before {
      content: '';
      z-index: -2;
      background-color: #ccc;
      background-image: url(/special-button-border.jpg);
      background-position: 50%;
      background-size: 150% 150%;
      border-radius: calc(0.5rem + 3px);
      transition: all 0.2s ease-in-out;
      animation: 16s ease-in-out infinite move-background;
      position: absolute;
      inset: -3px;
    }

    &::after {
      content: '';
      background: var(--bg-color);
      z-index: -1;
      border-radius: 0.5rem;
      transition: all 0.3s ease-in-out;
      position: absolute;
      inset: 0;
    }

    &:hover {
    }

    &:hover::before {
      filter: brightness(130%);
    }
  }
}

@keyframes move-background {
  0% {
    background-position: 40% 40%;
  }
  50% {
    background-position: 60% 60%;
  }
  100% {
    background-position: 40% 40%;
  }
}
